.maincontainer1{
	width:100%;
	height:100px;
	position:relative;
	
}
.innercontainer1{
	width:1300px;
	height:100px;
	margin:auto;
}
.body{
	margin:0;
}
.logimage{
	position:relative;
	top:5px;
	left:10px;
}
.maincontainer2{
	width:100%;
	height:40px;
	background-color:#1C5978;
	position:relative;
}
.innerconatiner2{
	color:white;
	width:1300px;
	height:40px;
	margin:auto;
}
.para{
	float:left;
	width:400px;
	height:40px;
}
.para h4{
	margin-top:13px;
	padding:0;
	margin-left:25px;
	font-family:arial;
}
.maincontainer3{
	width:100%;
	height:640px;
	position:relative;
	clear:both;
}
.innerconatiner3{
	color:white;
	width:1300px;
	height:604px;
	margin:auto;
	position:relative;
}
.innercontainer1 input[type="button"]{
	float:right;
	color:black;
	background-color:#E2E2E2;
	position:relative;
	right:10px;
	font-family:arial;
	font-weight:bold;
	width:100px;
	border:solid 1px white;
}
.innercontainer1 input[type="button"]:hover{
	background-color:blue;
	color:yellow;
}
.subin1{
	width:260px;
	height:310px;
	float:left;
}
.table1{
	float:left;
	margin-left:20px;
	font-family:arial;
	font-size:15px;
	border: solid 1px black;
	border-collapse:collapse;	
}
.table1 td{
	border: solid 1px black;
	padding:8px;
}
.table1 td ul{
	list-style:none;
	position:relative;
	right:30px;
	top:6px;
	font-size:13px;
	color:grey;
}

.table1 td p{
	font-weight:bold;
	height:40px;
	color:#1C5978;
	position:relative;
	top:27px;
}
.table1 td a{
	text-decoration:none;
	color:#1C5978;
}
.table1 td a:hover{
	color:red;
}
.tdata{
	font-weight:bold;
	color:#1C5978;
}
.listelm{
	font-weight:bold;
}
.subin2{
	float:left;
	width:1040px;
	height:630px;
}
.table2{
	margin-left:19px;	
	width:1021px;
	font-family:arial;
}

.table2data{
	border:solid 1px black;
	padding:3px;
	font-size:15px;
}
.table2data a{
	color:blue;
	margin-right:5px;
	margin-left:5px;
}
.table2data a:hover{
	color:red;
}
.table2 td h3 {
	position:relative;
	top:25px;
	color:#1C5978;
	font-weight:bold;
}
.table3{
	font-family:arial;
	margin-top:10px;
	margin-left:19px;
	border-collapse:collapse;
	width:1021px;
}
.table3 td{
	border: solid 1px black;
	font-weight:bold;
	font-size:14px;
	padding:5px;
}
.table3p{
	background-color:#EBEBEB;
}
.table3 td input[type="text"]{
	margin-left:60px;
	width:200px;
}
.table3 td select{
	margin-left:56px;
	width:200px;
}
.table3 td input[type="button"]{
	margin-left:10px;
	border-radius:0;
	background-color:#1C5978;
	color:white;	
	border:solid 10px balck;
}
.table3 td input[type="button"]:hover{
	background-color:red;
}
.table4{
	margin-left:19px;
	margin-top:25px;
	font-family:arial;
	font-size:13px;
}
.table5{
	margin-left:19px;
	margin-top:25px;
	font-family:arial;
	width:1021px;
	border-collapse:collapse;
}
.table5 th{
	border:solid 1px black;
	padding:2px;
}
.table5 td{
	border:solid 1px black;
	padding:3px;
	text-align:center;
	
}
.table5 th{
	background-color:#EBEBEB;
}
.table5 td img[src="images/tick.png"]{
	position:relative;
	width:30px;
	height:22px;
}
.table5 th img[src="images/tick.png"]{
	width:15px;
	height:13px;
	position:relative;
}
.table5 td img[src="images/edit.png"]{
	position:relative;
	width:18px;
	height:22px;
}
.table5 th img[src="images/edit.png"]{
	width:15px;
	height:15px;
	position:relative;
}
.subtable
{
	float:left;
	margin-left:5px;
}
.subbutton{
	float:right;
	position:relative;
	right:35px;
}
.subbutton input[type="button"]{
	border: solid 1px black;
	background-color:#1C5978;
	color:white;
	font-weight:bold;
	font-family:arial;
}
.subbutton input[type="button"]:hover{
	background-color:red;
}
	